$cabecalho_cor: #36244a;
$laranja1: #df6651;
@mixin fontes{
	font-family: 'Open Sans', sans-serif;
	color:#dcdcdc !important;
	text-align: center;
}

.navegacao{
	height: 70px;
	background: $cabecalho_cor;
	.conteudo-nav{
		
		.mr-auto{
			width: 100%;
			align-items: end;
			justify-content: end;
		}
		
		a{
			width: 100px;
			margin-left: 10px;
			@include fontes;
			&:hover{
				color: #ffffff !important;
				
				border-bottom: 2px solid $laranja1;
			}
		}
		
		
	}
	i{
		color: #fff;
		font-size: 1.5em;
	}
}


.menu_inicial{
	position:fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	background: #32383e !important;
	border-radius: 0 !important;
	a{
		text-decoration:bold;
		font-size:1.1em;
		
		color: #fff;
		&:hover{
			color: #35bdb2;
		}
	}
	i{
		color: #fff;
		font-size:2em;
	}
	.item{
		&::before{
			background:none !important;
		}
	}
	.active{
		background: #dcdcdc20 !important;
		border-radius: 10px;
		a{
			/*color: #35bdb2; */
		}
	}
	
}

.conteudo{
	margin-top:100px;
	margin-left:5%;
	margin-right:5%;
}