/*$corFocus: #b14d51;*/
$corFocus: #36244a;
$cinza1: #dededf;
$roxo1: #76002c;
$cor_font: #dcdcdc;
@mixin font-title{
	/*font-family: 'Liu Jian Mao Cao', cursive;*/
	font-family: 'Comfortaa', cursive;
}
@mixin font-body{
	font-family: 'Open Sans', sans-serif;
	
}

@mixin foco{
	box-shadow: 0 0 4px lighten($roxo1, 50) !important;
	border-color:  lighten($roxo1, 50) !important;
	/*background: lighten($corFocus, 50) !important;*/
}
@mixin input-config{
	border: 1px solid #8d8d8d50;
	background: #dadada20;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	@include font-body;
	color: $roxo1;
}
.form{
	textarea:focus{
		@include foco;
	}
	textarea{
		@include input-config;
		height: 70px;
	}
	input{
		@include input-config;
	
	}
	input:focus{
		@include foco;
	}
	
	label{
		@include font-body;
		font-size: 1.1em;
	}
	
}
.tabela{
	tr{
		&:hover{
			cursor:pointer;
			background: rgba($corFocus, .3)!important;
			
		}	
		.selected{
			background: rgba($corFocus, .3)!important;
		}
	}
}


.botao{
	margin-top: 1px !important;
	width: 150px;
	background: $roxo1 !important;
	color: #dcdcdc !important;
	&:hover{
		background: lighten($roxo1, 10) !important;
		color: #fff;
	}
}
.botao-su{
	background: $roxo1 !important;
	width: 150px;
	margin-top: 1px !important;
	color: #dcdcdc !important;
	&:hover{
		background: lighten($roxo1, 10) !important;
		color: #fff;
	}
}
fieldset{
	border-radius: 10px;
	border: 1px solid #000 !important;
	
	legend{
		color: #000;
		@include font-body;
		padding-left:5px;
		padding-right:5px;
		font-size: 1.1em;
		font-weight: bold;
		width: auto;
		
	}
}


.paginacao{
	width: auto;
	position: relative;
	a{
		&:hover{
			background: lighten($corFocus, 30) !important;
		}
	}
}

.titulo{
	margin-bottom: 20px;
	padding-top:10px;
	/*border-bottom: 1px solid $roxo1;*/
	/*background: lighten($corFocus, 40);*/
	width:100%;
	text-align:center;
	h2{
		color: #32383e;
		@include font-title;
		padding-bottom:5px;
		font-size: 3em;
		font-weight: bold;
	}	
}

.hr-body{
	border-color: #33234950;
}